<div class="content">
  <div class="container">
    <div class="content-grids">
      <div class="col-md-8 content-main">
        <div class="content-grid">
          <div class="content-grid-info" *ngFor="let post of response.posts">
            <div class="post-info">
              <h4>
                <a [routerLink]="['posts', post.id]">{{ post.title }}</a>
                {{ post.created_at | date:"yyyy/MM/dd HH:mm" }}
              </h4>
              <p>{{ post.description }}</p>
              <a [routerLink]="['posts', post.id]">
                <span></span>READ MORE
              </a>
            </div>
          </div>
        </div>
      </div>
      <app-site-right-bar></app-site-right-bar>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
